
<!--<h2>inserção de clientes</h2>-->
<mat-card>
  <!-- {nome : "Ana", fone: "12345678", email: ana@mail.com} -->
  <!-- clienteForm = {nome : "Ana", fone: "12345678", email: ana@mail.com} -->
  <form (submit)="onAdicionarCliente(clienteForm)" #clienteForm="ngForm">

<mat-form-field appearance="fill">
  <mat-label>Digite o nome</mat-label>
  <input matInput
  type="text"
  ngModel name="nome"
  required
  minlength="3"
  >
  <button
    *ngIf="nome"
    matSuffix
    mat-icon-button
    (click)="nome=''">
    <mat-icon>close</mat-icon>
    <mat-error>Digite um nome válido</mat-error>

</button>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Digite o fone</mat-label>
  <input matInput
  type="text"
  ngModel name="fone"
  required
  >
  <button
  *ngIf="fone"
    matSuffix
    mat-icon-button
    (click)="fone=''">
    <mat-icon>close</mat-icon>
    <mat-error>Digite um telefone válido</mat-error>

  </button>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Digite o e-mail</mat-label>
  <input
  matInput
  type="text"
  ngModel name="email"
  required
  >
  <button
    *ngIf="email"
    matSuffix
    mat-icon-button
    (click)="email=''">
  <mat-icon>close</mat-icon>
  <mat-error>Digite um email válido</mat-error>

</button>

</mat-form-field>
<!--
<hr>

<input
  [(ngModel)]="nome"
  type="text"
  placeholder="Nome">
<hr>
<input
  [(ngModel)]="fone"
  type="text" placeholder="Fone">

<hr>

<input
  [(ngModel)]="email"
  type="text" placeholder="E-mail">

<hr>
-->

  <button
    color="primary"
    mat-raised-button>
    Inserir cliente
  </button>
</form>

</mat-card>
